<div class="small-10 small-centered large-4 large-centered columns">
  <div class="form-container text-center">
    <%= render 'layouts/signup' %>
    <%= link_to 'Already a member? Login!', login_path, class: "return-link off-white" %>
  </div>
</div>


